body {
    background-color: #4ABDAC;
    color: white;
}

h1 {
    color: #ffff99;
    background-color: #F7B733;
    padding: 0.5em;
    font-family: 'Helvetica';
}

h2 {
    font-family: Helvetica
}

ol { 
    font-family: 'Courier New';
    margin-left: 30px;
    background-color: #ff6600;  
}

li {
    padding: 5px;
}

p {
    font-family: 'Courier New';
}